.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  width: 100%;

  .form-div {
    padding: 50px;
    padding-top: 10px;
    h1 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 0;
    }

    .form-select {
      border-color: $third-color;
    }

    .form-select:focus {
      border-color: $third-color;
      box-shadow: none;
    }

    #evaluation-form {
      height: 100%;

      .my-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;

        .select {
          margin-top: 10px;
          align-items: center;
          display: grid;
          grid-template-columns: 50px auto;
          label {
            color: $secondary-color;
          }
        }

        input::placeholder {
          color: $secondary-color;
        }

        .form-select {
          padding: 5px 10px;
        }
      }
    }
  }

  .img-aside {
    display: flex;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;

    img {
      width: 65%;
    }
  }
}

hr {
  margin: 0.6rem !important;
}

.radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  #label-family {
    color: $secondary-color;
    font-weight: 700;
  }
  .form-check {
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    color: $secondary-color;
  }

  .form-check-input {
    border-radius: 100%;
    margin: 0px;
    padding: 5px;
    outline: none;

    border: 2px solid $inative-color;
  }
}

.checkbox {
  p {
    font-weight: 700;
    color: $secondary-color;
    margin-bottom: 0;
  }

  .row-checkbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: flex-start;

    div {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: flex-start;
      column-gap: 10px;
      color: $secondary-color;
    }
  }
}

.avaliation {
  display: flex;
  flex-direction: column;
  color: $secondary-color;

  #label-rate {
    font-weight: 700;
  }

  .avaliation-radio {
    height: 20px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    align-items: center;
    margin-bottom: 5px;

    label {
      display: grid;
      grid-template-columns: 15px 20px;
      align-items: center;
      gap: 10px;
    }
  }
}

.avaliation-radio {
  display: grid;
  grid-template-columns: repeat(10, auto);
  align-items: center;

  label {
    display: grid;
    grid-template-columns: 15px 20px;
    align-items: center;
    gap: 10px;
  }
}

.div-textarea {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    font-weight: 700;
  }

  textarea {
    padding-left: 10px;
    resize: none;
    width: 100%;
    height: 80px;
  }
  
  span {
    position: absolute;
    left: 550px;
    top: 80px;
  }
}

.div-agreement {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto 5px;
  justify-content: flex-start;
  gap: 10px;

  .form-check-input[type=checkbox] {
    border-radius: 100rem;
    padding: 0;
    border: 2px solid #000000;
  }
}

.div-btn {
  margin-top: 5px; 

  .btn-primary {
    border: none;
  }
}