@import "config";
@import "login";
@import "main";
@import "slytherin";
@import "gryffindor";
@import "hufflepuff";
@import "ravenclaw";
@import "footer";

.head {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  &-logo {
    display: flex;
    align-items: center;
    &-img {
      height: 50px;
      width: 50px;
    }
  }

  &-text {
    font-size: 700;
  }
}
